html, body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
}

.container {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
}

/*Header*/
header {
  height: 10vh;
  line-height: 10vh;
  position: fixed;
  top:0;
  width: 100vw;
  background-color:rgba(52, 73, 94,0.6);
}

header h1 {
  font-size: 1.3em;
  font-weight: 400;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.8em;
}

header ul {
  margin-left: 1em;
  margin-right: 1em;
  list-style: none;
  display: flex;
  line-height: 4em;
}

header  li {
  flex: 0 0 auto;
  margin: 0.2em;
}

header  li:nth-child(1) {
  margin-right: auto;
}

header  a {
  font-size: 1.4em;
  color: #ecf0f1;
  font-weight: 300;
}

header  a:hover {
  text-decoration: none;
}

header  a:link {
  text-decoration: none;
}

header  a:visited{
  text-decoration: none;
}

header  a:focus {
  text-decoration: none;
}

header  a:active {
  text-decoration: none;
}

.container {
  height: 90vh;
  width: 80vw;
  margin-top: 10vh;
  padding-top: 2em;
  margin-left: 10vw;
}

.btn {
  border: none;
  background-color: #EDCDC2;
  outline: none;
  height: 3em;
  width: 3em;
}

.spinner-container {
  display: flex;
}

.spinner {
  justify-content: center;
  align-items: center;
}