html, body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
  margin-top: 10vh;
  width: 100vw;
  padding: 0 2em 2em 2em;
}

/*Header*/
header {
  height: 10vh;
  line-height: 10vh;
  position: fixed;
  top:0;
  width: 100vw;
  background-color:rgba(52, 73, 94,0.6);
}

footer {
  height: 5vh;
  width: 100vw;
  background-color:rgba(52, 73, 94,0.6);
  line-height: 5vh;
  padding-left: 2em;
  color: #ecf0f1;
  font-size: 0.8em;
}

header h1 {
  font-size: 1.7em;
  color: #c0392b;
  font-weight: bold;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.8em;
}

header {
  display: flex;
  line-height: 4em;
}

.left, .right {
  flex: 1;
}

.hamburger {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

header a {
  font-size: 1.4em;
  color: #ecf0f1;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
}

footer  a {
  font-size: 0.9em;
  color: #ecf0f1;
  font-weight: 300;
  font-weight: bold;
}

.container {
  display: flex;
}

.btn {
  border: none;
  background-color: #EDCDC2;
  outline: none;
  height: 3em;
  width: 3em;
}

.spinner-container {
  display: flex;
}

.spinner {
  justify-content: center;
  align-items: center;
}