* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
body, html {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex: 1;
  margin-top: 10vh;
  width: 100vw;
  padding: 0 2em 2em 2em;
}

/* Fonts */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8em;
    font-weight: 400;
  }

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    text-align: center;
    font-size: em;
    font-weight: bold;
  }
}

@media (min-width: 601px) {
  h1 {
    font-size: 2.5em;
    font-weight: 400;
  }

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
  }
}

/* Anchor tags */
a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
}


/*Header*/
header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 4em;
  line-height: 4em;
  position: fixed;
  top:0;
  width: 100vw;
  background-color:rgba(52, 73, 94,0.4);
}

header h1 {
  font-size: 1.4em;
  color: #3498db;
  font-weight: bold;
  display: inline;
}

.hamburger {
  padding: 0 0.5em 0 1em;
  cursor: pointer;
  font-size: 3em;
  background-color: transparent;
  border: none;
  color: #ecf0f1
}

header a {
  font-size: 1.4em;
  color: #ecf0f1;
  font-weight: 300;
}

/* Button */
.btn {
  border: none;
  background-color: #EDCDC2;
  outline: none;
  height: 3em;
  width: 3em;
}

/* Footer */
footer {
  height: 5vh;
  width: 100vw;
  background-color:rgba(52, 73, 94,0.6);
  line-height: 5vh;
  padding-left: 2em;
  color: #ecf0f1;
  font-size: 0.8em;
}

footer  a {
  font-size: 0.9em;
  color: #ecf0f1;
  font-weight: 300;
  font-weight: bold;
}

/* Index */
.index {
  width: 80vw;
  height: 80vh;
  margin-left: 10vw;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
}

.index-content {
  flex: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
}

.index-content > h1 {
  margin-bottom: 0.8em;
  text-align: center;
}

.search {
  height: 2em;
  line-height: 2em;
  border-radius: 20px;
  text-align: center;
  font-size: 1.8em;
  width: 50vw;
}

@media (max-width: 600px) {
  .or {
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 400;
  }
}

@media (min-width: 601px) {
  .or {
    margin-top: 1em;
    font-size: 1.8em;
    font-weight: 400;
  }
}

button.gps {
  margin-top: 1.5em;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 1.2em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 20px;
}

/* Tides */
@media (max-width: 600px) {
  .tides {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  .tides {
    width: 80vw;
    height: 80vh;
    /* margin-left: 10vw; */
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
  }
}


.tides-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tides-item {
  font-size: 1.3em;
  line-height: 2.4em;
  margin-bottom: 0.2em;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

@media (max-width: 600px) {
  .dt-text {
    font-size: 0.8em;
    margin-right: 1.5em;
    color: #2980b9;
  }

  .tides-item img {
    height: 1.5em;
    margin-right: 2ch;
  }

  .type-text {
    margin-right: 0.5em;
    color: #34495e;
  }

  .height-text {
    margin-left: 1em;
    color: #c0392b;
    font-size: 1.1em;
  }
}

@media (min-width: 601px) {
  .dt-text {
    margin-right: 4.5em;
    color: #2980b9;
    font-size: 1.1em;
  }

  .tides-item img {
    height: 1.5em;
    margin-right: 2ch;
  }

  .type-text {
    margin-right: 5em;
    color: #34495e;
  }

  .height-text {
    color: #c0392b;
    font-size: 1.2em;
  }
}

/* About */
.about p {
  margin-top: 2em;
  width: 70vw;
  margin-left: 15vw;
  font-size: 1.2em;
  max-width: 60ch;
}


/* Contact */
.contact {
  margin-top: 2em;
  width: 100%;
  height: 100%;
}

form {
  margin: 0 auto;
  width: 100%;
  font-size: 1.2em;
}

form div + div {
  margin-top: 1em;
}

form>div {
  margin-bottom: 0.5em;
}

form label {
  display: inline-block;
  width: 10ch;
  text-align: right;
  margin-right: 1em;
  line-height: 1.5em;
}

label, label>input{
  display: inline-block;
  margin: 0;
  line-height: 1.5em;
  vertical-align: top;
  font-size: 1.1em;
}

input, textarea {
  font-size: 1.1em;
  width: 60%;
  box-sizing: border-box;
  border: 1px solid #999;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #34495e;
  border-radius: 15px;
}

input[type="text"], input[type="email"]{
  line-height: 2em;
  height: 2em;
}

textarea {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: top;
  height: 10em;
}

#submit {
  font-size: 1.3em;
  margin-left: 12ch;
  height: 2em;
  width: 10ch;
  color: #ecf0f1;
  background-color: #f39c12;
  border-radius: 10px;
}
