.search-location {
  margin-bottom: 0.8em;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
}

.search-location.search {
  flex: 0.8;
}

.tides-gps {
  flex: 0.2;
}

.tides {
  margin-left: 10vw;
  width: 60vw;
  height: 70vh;
}

.tides-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tides-item {
  font-size: 1.3em;
  line-height: 2.4em;
  margin-bottom: 0.2em;
  display: flex;
  justify-content: flex-start;
}

.dt-text {
  margin-right: 6em;
}

.tides-item img {
  height: 1.5em;
  margin-right: 2ch;
}

.type-text {
  margin-right: 6em;
}