{{define "content"}}
  <div class="about">
    <p>
      Do you surf, fish, sail, dive or just want to hang at the beach? Then it might be a good idea to check the tides to see if it's any idea at all to go there!
      <br>
      The data is a for the tides is a forrecast and just like any forecast it can be right or wrong. Pleas use it as an indication and whenever possible check with the life guards or harbour staff before heading out in the water.
      <br>
      We take absolutely no responsibility for any damages that might occure by using the tide forecast.
    </p>
  </div>
{{end}}