{{define "content"}}
<div class="contact">
  <h2>Contact</h2>

  <form action="https://formspree.io/henrik.fogelberg@gmail.com" method="POST">
    <div>
      <label for="name">Your name</label>
      <input type="text" name="name" >
    </div>
    <div>
      <label for="email">Your email</label>
      <input type="email" name="_replyto">
    </div>
    <div>
      <input type="hidden" name="_subject" value="Tidechecker" />
    </div>
    <div><label for="message"></label>
      <textarea name="message" placeholder="Your message"></textarea>
    </div>
    <div>
      <input type="text" name="_gotcha" style="display:none" />
    </div>
    <div>
      <input type="submit" value="Send" id="submit">
    </div>
  </form>
</div>
{{end}}