{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tidechecker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/master.css">
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="stylesheet" href="/public/styles/tides.css">
    <link rel="stylesheet" href="/public/styles/spinner.css">
    <link rel="stylesheet" href="/public/styles/slideMenu.css">
    <link rel="stylesheet" href="/public/styles/about.css">
    <link rel="stylesheet" href="/public/styles/about.css">
    <link rel="stylesheet" href="/public/styles/form.css">
    </head>
  <body>
    <header>
      <div class="left"><button class='hamburger' onclick="openNav()">&#9776;</button></div>
      <div class="center"><a href="/"><h1>Tidechecker</h1></a></div>
      <div class="right dummy"></div>
    </header>

    <div class="sidenav" id="sidenav">
      <button onclick="closeNav()" class="btnclose">X</button>
      <a href="/">Search</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>

    <div class="container">
    {{template "content" .}}
    </div>

    <footer class="footer">
      Designed and developed by <a href="https://golizzard.com" target="_blank">Golizzard</a> icons by <a href="https://https://icons8.com">Icons8</a>.

    </footer>
  </body>

  <script src="/public/scripts/geolocation.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBKz2rPCqEm4XguOun_Jn8Ts4EOFSoT9MU&libraries=places"></script>
  <script src="/public/scripts/autocomplete.js"></script>
  <script src="/public/scripts/slideMenu.js"></script>
</html>
{{end}}