{{define "content"}}
  <div class="tides">
    <div class="search-location">
      <input type="search"  placeholder="Search" id="search" class="search" onfocus="value = ''" value="{{.Station}}"/>
      <span><button type="button" class="tides-gps" onclick="getLocation()"><img src="/public/img/gps.svg"></button></span>
    </div>


    <ul class='tides-list'>
      {{range .Extremes}}
        <li class='tides-item'>
          <span class="dt-text">{{timeToHour .Dt}} </span>
          <img src="/public/img/{{typeToImg .Type}}">
          <span class="type-text">{{.Type}}</span>
          <span class="height-text">{{roundHeight .Height}}</span>
          <br>
        </li>
      {{end}}
    </ul>
  </div>
{{end}}